<div class="container mt-3">
  <h2>Добавить новую задачу</h2>
  <form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)">
    <div class="mb-3">
      <label for="title" class="form-label">Название задачи</label>
      <input type="text" id="title" class="form-control" [(ngModel)]="title" name="title" required />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Описание задачи</label>
      <input type="text" id="description" class="form-control" [(ngModel)]="description" name="description" />
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">Статус</label>
      <select id="status" class="form-select" [(ngModel)]="status" name="status">
        <option value="не выполнена">Не выполнена</option>
        <option value="в процессе">В процессе</option>
        <option value="выполнена">Выполнена</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!taskForm.valid">Сохранить</button>
  </form>
</div>
